*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "sf pro", sans-serif;
}

body {
    background-color: var(--White);
    width: 100%;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}